
{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true,
        "mongo": true,
        "commonjs": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": "off",
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "prefer-spread": "error"
    }
}
