.home-nav {
  width: 90%;
}

.home-nav__ul {
  list-style: none;
  width: 90%;
}

.home-nav__ul_flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-nav__ul__li {
  border-color: #7a1f1f;
  border-radius: 1em;
  border-style: solid;
  border-width: medium;
  box-shadow: 10px 10px 5px tan;
  display: block;
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  font-size: 2em;
}

.home-nav__Link {
  color: brown;
  text-decoration: none;
}

@media only screen and (min-width: 640px) {
  .home-nav__ul {
    margin: 10em auto;
  }
  .home-nav__ul_flex-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .home-nav__ul__li {
    height: 3em;
    margin: 0;
    padding: 0;
    width: 8em;
  }

  .home-nav__Link {
    display: block;
    margin: auto;
    padding: 0.9em;
  }
}
