<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dosis&family=Podkova"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/css/main.css' }}" />
  </head>
  <body>
    {% include "partials/header.njk" %}

    <main>
      {% block content %}

        {{ content | safe }}

      {% endblock %}
    </main>

    {% include "partials/footer.njk" %}
  </body>
</html>
