---
layout: layouts/base.njk
---
{% block content %}
  <secion class="home">
    <header class="paper">
      <p>Welcome.  This is the home to my musings about the code I right, the crafts I do, and the culture at large.  I hope you find something that resonates with you and inspires you to a better version of yourself.</p>
    </header>

    <nav class="category-nav">
      <ul class="category-list">
        <li class="category-item paper">
          <a class="code-link" href="/code">
            Code
          </a>
        </li>
        <li class="category-item paper">
          <a class="craft-link" href="/craft">
            Craft
          </a>
        </li>
        <li class="category-item paper">
          <a class="culture-link" href="/culture">
            Culture
          </a>
        </li>
      </ul>
    </nav>
  </section>
{% endblock %}
