.login__container {
  border-radius: 2em;
  border-style: solid;
  margin: auto;
  max-width: 500px;
}

.login__h2 {
  text-align: center;
}

.login__single-input label {
  display: inline-block;
  padding: 0.5em;
  text-align: right;
  width: 150px;
}

.login__button {
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
