.register__container {
  border-color: #7a1f1f;
  border-radius: 2em;
  border-style: solid;
  margin: auto;
  max-width: 500px;
}

.register__h2 {
  margin: 1em;
  text-align: center;
}

.register__button {
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.register__single-input label {
  display: inline-block;
  padding: 0.5em;
  text-align: right;
  width: 150px;
}
