.resource-header {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.resource-item {
  margin: 1rem auto;
  padding: 1rem;
}

.resource-tag-container {
  display: flex;
}

.resource-tag-nav {
  display: flex;
  margin: 0 1rem;
  padding: 0;
}

.resource-tag-item {
  flex: 1 1 auto;
  margin: 1rem;
}
