<footer class="site-footer paper">
    <p class="copy-right">made by sdcaulley &#169 2021</p>

    <address>
      <a href="mailto:stephanie@sdcaulley.com" target="_blank">Contact Me</a>
    </address>
</footer>
