<header class="site-header paper">
  <nav class="main-nav">
    {% navlist collections.all |
      eleventyNavigation, page %}
  </nav>
  <h1>sdcaulley</h1>
  <h2>Musings about the world</h2>
</header>
